/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

* {
  @include box-sizing(border-box);
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  line-height: 20px;
  color: $base-color;
  font-family: $body-font;
  background: #f1f4f6;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 1.3em;
}

h2 {}
h3 {}
h4 {}
h5 {}

a {
  color: $highlight-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: adjust-lightness($highlight-color, 5%);
  }
  &:active {}
}

p, ol, ul {}

p {}

ol {}

ul {}

strong { font-weight: bold; }
em { font-style: italic; }

hr {}

blockquote {}

form {}
label {}
input {}
input[type=text] {}
textarea {}
select{}
