/* /////////////////////////////////////////////////////

MODULES
// Use class names for all modules
// Use class names for all non-semantic children (divs, spans, etc).
// Child class names prefixed by module name (ex: news-item-title)
// Keep nesting to a minimum
// Put a comment description before each module

///////////////////////////////////////////////////// */

/* Icons
--------------------------------------------- */

.icon {
  display: inline-block;
}

.icon-search {
  @include retina-sprite("icon-search");
}

.icon-filter {
  @include retina-sprite("icon-filter");
}

.icon-map {
  @include retina-sprite("icon-map");
}

.icon-bolt {
  @include retina-sprite("icon-bolt");
}

.icon-yelp {
  @include retina-sprite("icon-yelp");
}

/* Search Field
--------------------------------------------- */

.search-field {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid $light-grey;

  input {
    width: 100%;
    border: 1px solid $light-grey;
    background: $light-grey;
    color: $dark-grey;
    padding: 10px 10px 10px 35px;;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 100;

    &:focus {
      outline: none;
      border: 1px solid adjust-lightness($light-grey, -10%);
    }
  }

  .icon-search {
    position: absolute;
    top: 28px;
    left: 28px;
  }
}

/* Buttons
--------------------------------------------- */

.button {
  display: block;
  cursor: pointer;
}

.action-buttons {
  overflow: hidden;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0px 1px 3px #F0F0F0;
}

.button-large {
  width: 50%;
  float: left;
  border-right: 1px solid $light-grey;
  text-align: center;
  padding: 15px;

  &:last-of-type {
    border-right: none;
  }
}

/* Buttons
--------------------------------------------- */

.badge {
  padding: 3px 8px;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 5px;
}

.badge--primary {
  background: $primary-cta;
  color: #fff;
}

/* Deals list
--------------------------------------------- */

.deals {
  margin: 20px;

  li {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.deal--content {
  overflow: hidden;
  border-bottom: 1px solid $light-grey;
}

.deal--image {
  float: left;
  margin-right: 10px;
  width: 150px;
  overflow: hidden;

  img {
    display: block;
    margin-left: 50%;
    @include transform(translateX(-50%));
  }
}

.deal--detail {
  float: left;
  padding: 10px 10px 0 0;
  width: 60%;

  h4 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 9px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
  }

  p {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .highlight {
    margin-top: 12px;
  }
}

.deal--footer {
  overflow: hidden;
  padding: 10px;
}

.deal--rating {
  float: left;
  margin-top: 1px;

  .icon,
  img {
    vertical-align: middle;
  }
}

.deal--price {
  float: right;

  h5 {
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
  }
}
