/* /////////////////////////////////////////////////////

PROJECT NAME
creator@project.com @ Creator Company

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";



/* Variables
--------------------------------------------- */

$base-color: #4f4f4f;
$highlight-color: #319fb5;
$primary-cta: #ea4e42;
$positive-color: #09c364;
$negative-color: #bf1e2e;
$secondary-color: #cccccc;
$light-grey: #eaedf1;
$dark-grey: #9ea7b3;

$body-font: "museo-sans", Helvetica, Arial, sans-serif;

$break-small: 480px;


/* Sprites
--------------------------------------------- */

$misc-sprite-dimensions : true;
$misc-spacing : 2px;
$misc-retina-spacing : 2px;
$sprites: sprite-map("misc/*.png");
$sprites2x: sprite-map("misc-retina/*.png");


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";



/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.main-wrap {
  width: 100%;
  min-width: 450px;
  margin: 0 auto;
}

/* Header
--------------------------------------------- */

.main-header {
  background: #fff;
}
