---
title: MyTime, book some time for yourself
description: Book some time for yourself
---
 
<script type="text/x-handlebars" data-template-name="index">
  <ul class="deals">
    {{#each deal in model}}
      <li class="deal">
        <div class="deal--content">
          <div class="deal--image">
            <img {{bind-attr src=deal.photo_url alt=deal.name}}>
          </div>

          <div class="deal--detail">
            <h4 {{bind-attr title=deal.name}}>{{deal.name}}</h4>
            <p>{{deal.service_name}}</p>
            <p>0.1 mi away</p>
            <p class="highlight"><i class="icon icon-bolt"></i> Next appt: {{format-date deal.next_appointment_times}}</p>
          </div>
        </div><!-- .deal-content -->

        <footer class="deal--footer">
          <div class="deal--rating">
            {{#if deal.yelp_rating_image_url}}
              <img {{bind-attr src=deal.yelp_rating_image_url}}>
              <i class="icon icon-yelp"></i>
            {{/if}}
          </div>

          <div class="deal--price">
            <span class="badge badge--primary">Sale</span>
            <h5>{{format-currency deal.min_price}} - {{format-currency deal.max_price}}</h5>
          </div>
        </footer>
      </li>
    {{/each}}
  </ul>
</script>


